body {
    background-color: rgb(199, 139, 207);
}

#container {
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

#button-container {
    margin-top: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

button {
    width: 150px;
    height: 100px;
    border-radius: 10px;
    background-color: rgb(3, 103, 103);
    color: bisque;
}

h2 {
    color: bisque;
}